table {
	border: 0px;
	width: 900;
	padding: 12;
	text-align: center;
}

a {
	text-align: center;
}

a1.{
	text-align:right;
}

a2.{
	text-align: left;

}

body {
	text-align:center;
	background-color: lightblue;
}

img{
	width:85%;
	height:100%;
	]
	
	x.{width:85%;
	height:85%;
	}